<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Q/A Library</title>
    {% else %}
    <title>Welcome to Q/A Library</title>
    {% endif %}
  </head>
  <body>
    <div>
    <ul>
        <li><a href="/index">Home</a></li>
        {% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}         
    </ul>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>