<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
  <h1>Register</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
            Please enter your username and password<br>
            {{ form.username(placeholder="username") }}<br>
                {% for error in form.errors.username %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {{ form.password(placeholder="password") }}<br>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
      </p>
      <p><input type="submit" value="Register"></p>
  </form>
{% endblock %}